.ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0%;
  width: 100%;
  padding-left: 25%;
}
.links
{
  display: block;
  color: white;
  text-align: center;
  padding: 2.5vh 3vw;
  text-decoration: none;
  font-size: 2.5vh;
}
.li
{
    float: left;
}
.li:hover
{
    background-color: #111;
}


@media only screen and (max-width:450px) {
  .ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0.2%;
  width: 100%;
  padding-left: 2%;
}
.links
{
  display: block;
  color: white;
  text-align: center;
  padding: 1.8vh 1.5vw;
  text-decoration: none;
  font-size: 1.5vh;
}

}